In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from scipy.spatial import distance

In [3]:
data=pd.read_csv('anime.csv')

In [4]:
data.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [5]:
genre=data['genre'].values

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [7]:
lis=[]
for i in genre:
    i=str(i)
    for p in i.split(','):
        if p not in lis:
            lis.append(p)

In [8]:
len(lis)

83

In [9]:
dic={}

In [10]:
t=[]
for i in genre:
    for j in lis:
        dic[j]=0
    i=str(i)
    for p in i.split(','):
        dic[p]+=1
    t.append(list(dic.values()))

In [11]:
len(t[0])

83

In [12]:
X=np.array(t)

In [13]:
s=input('Enter the anime you like and we will find more like those for you  :')
num=int(input('Please enter the number of recommendations you want:'))
name=data['name'].values
for i in range(len(name)):
    name[i]=name[i].lower()
s=s.lower()
h=-1
for i in range(len(name)):
    if s in name[i]:
        h=i
        break
imp=[]
if h==-1:
    print('Sorry No match found :(')
else:
    for i in range(len(t)):
        if i==h:
            continue
        else:
            if len(imp)<num:
                imp.append([distance.euclidean(t[i], t[h]),t[i],i])
            else:
                imp.sort()
                if imp[num-1][0]>distance.euclidean(t[i],t[h]):
                    del imp[num-1]
                    imp.append([distance.euclidean(t[i],t[h]),t[i],i])
    name=data['name'].values
    print('The anime recommended for you are :')
    count=0
    for i in imp:
        count+=1
        print(count,'. ',name[i[2]])

Enter the anime you like and we will find more like those for you  :Naruto
Please enter the number of recommendations you want:5
The anime recommended for you are :
1 .  naruto: shippuuden
2 .  naruto
3 .  boruto: naruto the movie - naruto ga hokage ni natta hi
4 .  naruto x ut
5 .  naruto: shippuuden movie 4 - the lost tower